body {
    background: url("../pic/235-2359775_big.jpg") no-repeat center;

    background-size: cover;
}

#top {
    margin: 15%;
    text-align: center;
    padding: 8%;
    border: 2px solid grey;
    box-shadow: 2px 5px darkgrey;
    background: #ffffff87;
}

.btn-primary {
    padding: 20px;
    font-size: 20px;
    width: 500px;
}