#top{

    margin: 150px;
    text-align: center;
    padding: 8%;
    border: 2px solid grey;
    box-shadow: 2px 5px darkgrey;
    background: #ffffff87;
}
body{
    background: url(/pic/istockphoto-947648828-612x612-1.jpg) 0 0;

    background-size: cover;
}

.btn-primary{
    padding: 20px;
    font-size: 20px;
    width: 200px;
}
